@include scrollbar;
main {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background-color: $primary_color_dark;
}
.section_checkbox {
  display: flex;
  justify-content: center;
  background-color: $primary_color_dark;
}
.article_checkbox {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 20px;
}
.container_checkbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid white;
}
.container_search_contact {
  height: 120px;
  border-bottom: 1px solid white;
}
.container_search_contact > p {
  margin-bottom: 40px;
}
#search_contact{
  width: 100%;
}
#section_contact {
  display: flex;
  justify-content: center;
}
.article_contact_n1 {
  display: flex;
  flex-direction: column;
  width: 97%;
}
#article_contact {
  display: flex;
  justify-content: space-around;
  height: 100%;
  min-height: 800px;
  overflow: scroll;
  padding: 15px;
  overflow: overlay;
  border: 1px solid $primary_color_shadow;
  margin-bottom: 50px;
  border-radius: 10px;
  @include scrollbar;
}
.img_contact_container {
  display: none;
}
.container_contact {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1px;
  height: 100px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  background-color: $primary_color;

  .option_contact {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    width: 100%;
  }
  .option_contact > p {
    margin-left: 2px;
    margin-right: 2px;
    @include bouton;
  }
  .text_article_contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .text_article_content_contact {
    margin-left: 5px;
  }
  .text_profil_contact:hover,
  .text_message_contact:hover,
  .text_delete_contact:hover{
      cursor: pointer;
  }
}
.name_contact {
  font-size: 20px;
  width: 100%;
}
@media all and (min-width: 768px) {
  .container_contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;

  }
  .img_contact_container {
    display: flex;
    border-radius: 10px;
    object-position: top;
    overflow: hidden;
    width: 100%;
    margin: 5px;
    max-width: 120px;
  }
  #search_contact{
    width: 100%;
  }
}
